<main>

<table>
    
    <tr>
        <th>
                <p>ID: </p>
        </th>
        <th>
           <p> STORE ID: </p>
        </th>
        <th>
            <p>NAME:</p>
        </th>
        <th>
            <p>COLOR:</p>
        </th>
        <th>
            <p>SIZE:</p>
        </th>
        <th>
            <p>RATING:</p>
        </th>
        <th>
            <P>DESCRIPTION</P>
        </th>
    </tr>
    {{#each product}}
    <tr>
        <th>
                {{id}}
        </th>
        <th>
            {{store_id}}
        </th>
        <th>
            {{name}}
        </th>
        <th>
            {{color}}
        </th>
        <th>
            {{size}}
        </th>
        <th>
            {{rating}}
        </th>
        <th>
            {{description}}
        </th>
    </tr>
    {{/each}}
</table>


        <div class="project">
        <img src="/images/placeholder.jpg">
        </div>

    <a href="/">← Back To Home</a><br>
     <a href="/stores">← Back To Stores</a><br>
      <a href="/products">← Back To Products</a>

</main>
